.recetas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0;
}

@media (min-width: 450px) {
  .recetas {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
